
body {
	margin: 0 auto;
	background: url('../img/bg-3.jpg') no-repeat;
	border-top: 10px solid #c1c1c1;
}

#info-inform {
	background: url('../img/icon-1.png') no-repeat 0 3px;
	height: 30px;
	width: 100px;
	text-transform: uppercase;
	font-size: 13px;
	color: #ccc;
	margin: 60px 20px 0 0;
	padding:0 0 0 25px;
	float: right;
	display: block;
}

#info-inform em {
	color: #7ecefd;
}

.main-title {
	float: left;
	margin-top: 55px;
	width: 263px;
}

.main-title a {
  background: url('../img/logo.png') no-repeat;
  display: block;
  height: 56px; 
  text-indent: -9999px;
}
.main-menu {
	float: right;
	margin:  50px 20px;
}

.item-menu {
	display: inline-block;
	background: url('../img/bg-4.gif');
}

nav {
	width: 940px;
	margin-left: 20px;
}
.item-menu a {
	color: #fff;
	padding: 20px 55px;
	margin-right: -4px;
	text-decoration: none;
	font-size: 14px;
	background: url('../img/bg-4.gif') no-repeat 0 1px #2081c3;
	text-transform: uppercase;
	border-right: 1px solid #1a70bb;
}

.item-menu a:hover {
	background: #2698ce;
	transition: 0.5s;
}

.home a {
	background: url('../img/icon-2.png') no-repeat 22px 15px #1a70bb;
	padding: 20px 34px;
	border-right: 1px solid #2065c3;
	margin-right: -4px;
}

.home a:hover{
		background: url('../img/icon-2.png') no-repeat 22px 15px #1a70bb;
}

/*------------------------------------------------------------------------
  BANNER
-----#---------------------------------------------------------------------*/
.sliders {
	margin: 0 auto;
	height: 404px;
	width: 940px;
	overflow: hidden;
	margin-top: -30px;
	border-top: 7px solid #89d2fd;
	box-shadow: 0px 0px 15px #555;
}

.links-slide {
	z-index: 9999;
	position: absolute;
	top: 300px;
	width:  940px;
}

#link-proximo {
	position: absolute;
	top: 125px;
	right: 10px;
	color: #999;
	font-size: 40px;
}

.icon-next:hover,
.icon-prev:hover
 {
	color: #89d2fd;
	transition: 0.3s;
}

#link-anterior {
	position: absolute;
	top: 165px;
	right: 10px;
	color: #999;
	font-size: 40px;
}

.banner:hover #link-proximo,
.banner:hover #link-anterior {
	color: #fff;
	transition: 2.5s;
}

/*---------------------------------------------------------------------------------
 CONTENT PAG
-----------------------------------------------------------------------------------*/


.article-bg-content {
	background: url('../img/icon_content.png') no-repeat 0 50px;
	height: 170px;
	margin: 0 auto;
}

.paragraph-bg-content {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 1;
	color: #bababa;
	font-weight: 600;
	text-transform: uppercase;
	padding: 15px 70px;
}

.articles-box {
	margin: 0 auto;
}

.article-bg-box {
	float: left;
}
.article-bg-box a {
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	font-size: 29px;
	height: 20px;
	color: #7ecefd;
	padding-bottom: 33px;
}

.link_1-box {
	width: 110px;
}
.link_2-box{
	width: 210px;
}

.article-bg-box a:hover {
	color: #000;
	transition: 0.5s;
}

.articles-box img {
	margin-left: -2px;
	padding: 6px;
	background: #ffffff;
	box-shadow: 1px 2px 1px 0px #e8e9ea;
}

.article-bg-box h2 {
	color: #686868;
	font-size: 19px;
	padding-left: 5px;
	font-weight: 600;
}

.article-bg-box p {
	padding-left: 5px;
	color: #ccc;
}

/*----------------------------------------------------------------------------
  CONTENT END
-------------------------------------------------------------------------------*/

.content-end {
	margin-top: 30px;
	border-top: 1px solid #ccc;
}

.content-bg-end {
	margin-top: 50px;
}

.article-bg-end {
	float: left;
	margin: 0 auto;
	padding: 6px;
}

.article-bg-end img {
	padding: 4px;
	height: 41px; 
	width: 41px;
}

.article-bg-end h2 {
	text-align: left;
	margin-top: -50px;
	margin-left: 65px;
	font-family: arial;
	text-transform: uppercase;
	color: #7ecefd;
	font-size: 23px;
	font-weight: 600;
}
.article-bg-end h3 {
	text-align: left;
	color: #ccc;
	font-weight: 600;
	font-family: arial;
	text-transform: uppercase;
	font-size: 19px;
	margin-top: -25px;
	margin-left: 65px;
	line-height: 1.5;
}

.article-bg-end p {
	color: #dde;
	padding-left: 4px;
}

.article-bg-end a {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	padding: 10px;
	float: left;
	font-size: 14px;
	margin: 10px 0 0 3px;
	background: #7ecefd;
}

.article-bg-end a:hover {
	background: #2698ce;
	transition: 0.5s;
}
 /*--------------------------------------------------
 FOOTER
 -----------------------------------------------------*/
footer  {
	background: #333;
	height: 295px;
	margin: 0 auto;
	width: 100%;
	border-bottom: 3px solid #fff;
	position: absolute;
	top: 1500px;
}

.commitment h2,
.services h3,
.success h4 {
	font-size: 14px;
	line-height: 1.2;
	color: #ffffff;
	padding-top: 55px;
	padding-bottom: 0px;
	font-weight: 600;
	padding-bottom: 15px;
	font-family: sans-serif;
	text-transform: uppercase;
}

.menu-commitment {
	margin: 0 auto;
	float: left;
	width: 205px;
}

.item-commitment{
	display: block;
	margin-left: -40px;
	height: 35px;
}

.item-commitment a,
.item-services a,
.item-success a {
	display: inline-block;
	background: url('../img/arrow-1.png') no-repeat 0 4px;
	color: #999;
	padding-left: 25px;
	text-decoration: none;
}

.item-commitment a:hover,
.item-services a:hover,
.item-success a:hover {
	color: #7ecefd;
	background: url('../img/arrow-1-hov.png') no-repeat 0 4px;
	transition: 0.4s;
}

.menu-services {
	margin: 0 auto;
	width: 205px;
	float: left;
	margin-top: -111px;
}

.item-services {
	display: block;
	height: 35px;
}

.menu-success {
	margin: 0 auto;
	width: 135px;
	float: left;
	margin-top: -116px;
}

.item-success {
	display: block;
	height: 35px;
}

.tranco-greetings {
	float: right;
	margin-top: -55px;
}

.tranco-greetings p {
	color: #999;
	font-weight: 600;
	font-family: sans-serif;
	font-size: 13px;
}

.tranco-greetings p em {
	color: #fff;
	font-style: normal;
}

.tranco-greetings p a {
	color: #999;
	text-decoration: none;
}

.tranco-greetings p a:hover {
	border-bottom: 1px solid #999;
}

/*SOCIAL NETWORK*/
 .bg_facebook {
 	color: #fff;
 	background: url('../img/soc-icons.png') 0 0;
 	display: inline-block;
	height: 34px;
	width: 34px;
	text-indent: -9999px;
 }

.bg_blogs {
 	background: url('../img/soc-icons.png') -43px 0;
	display: inline-block;
	height: 34px;
	width: 34px;
	text-indent: -9999px;
 }

.bg_twitter {
	background: url('../img/soc-icons.png') -86px 0;
	display: inline-block;
	height: 34px;
	width: 34px;
	text-indent: -9999px;
}

.bg_google {
	background: url('../img/soc-icons.png') -129px 0;
	display: inline-block;
	height: 34px;
	width: 34px;
	text-indent: -9999px;
}

.bg_facebook:hover {
		background: url('../img/soc-icons.png') 0 36px;
}

.bg_blogs:hover {
			background: url('../img/soc-icons.png') -43px 36px;

}

.bg_twitter:hover {
	background: url('../img/soc-icons.png') -86px 36px;
}

.bg_google:hover {
	background: url('../img/soc-icons.png') -129px 36px; 
}